html {
  width: 600px;
  height: 300px;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#score {
  position: absolute;
  font-weight: bold;
  font-size: 2rem;
  top: 15px;
  right: 20px;
}

#introduction {
  width: 500px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: 5px solid white;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  display: none;
  cursor: pointer;
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}